# -----------------------------
# Domain and external URL
# -----------------------------

BACKEND_PORT=8000

# -----------------------------
# Auth
# -----------------------------

SECRET_KEY=32CharKeyReplaceThis!
ALGORITHM=HS256
AT_TIMEOUT=30

# -----------------------------
# Supabase
# -----------------------------

db_user=
db_password=
db_host=
db_port=
db_name=
db_schema=
