# -----------------------------
# Pinned image tags
# -----------------------------
ZITADEL_VERSION=v4.16.0
POSTGRES_IMAGE=postgres:17.10-alpine
CERTGEN_IMAGE=stakater/ssl-certs-generator:1.0
ADMINER_IMAGE=adminer:6.0.1
NGINX_IMAGE=nginx:1.31.5

# -----------------------------
# Security/bootstrap
# -----------------------------

LOGIN_CLIENT_PAT_EXPIRATION=2099-01-01T00:00:00Z
ZITADEL_MASTERKEY=MasterkeyNeedsToHave32Characters

# -----------------------------
# First Instance
# -----------------------------

ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME=admin
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD=

ZITADEL_FIRSTINSTANCE_ORG_NAME=ZITADEL

# -----------------------------
# Domain and external URL
# -----------------------------

BACKEND_PORT=
ADMINER_PORT=
ZITADEL_PORT=

ZITADEL_DOMAIN=localhost
ZITADEL_EXTERNALDOMAIN=localhost

# 80 and false (http)
# 443 and true (https)
ZITADEL_EXTERNALPORT=443
ZITADEL_EXTERNALSECURE=true

ZITADEL_PUBLIC_SCHEME=https

# -----------------------------
# Postgres settings
# -----------------------------
POSTGRES_DB=zitadel


POSTGRES_ADMIN=postgres
POSTGRES_ADMIN_PASSWORD=

POSTGRES_USER=zitadel
POSTGRES_USER_PASSWORD=zitadel

# -----------------------------
# Access logs
# -----------------------------
ZITADEL_ACCESS_LOG_STDOUT_ENABLED=true
